streamlit
fastapi
uvicorn
python-jose
passlib[bcrypt]
sqlalchemy
torch
transformers
sentencepiece
nltk
googletrans==4.0.0-rc1
pydantic
httpx
python-dotenv
mysql-connector-python
requests
email-validator
textstat
PyPDF2
python-docx
pdfminer.six
rouge-score
accelerate
sentence-transformers
